body {
    background-color: #181818;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: bisque;
}

h1{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

h2{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

h3{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: orangered;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}

li {
    font-size: 20px;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(196, 114, 21);
    margin-left: 5%;
    margin-right: 5%;
}

pre {
	overflow: scroll;
    font-size: 16px;
    background-color: #303030;
    font-family: monospace;
    color: greenyellow;
    margin-right: 0;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
    font-family: monospace;
    background-color: darkseagreen;
}