#code {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 30px;
    font-family: monospace;
}

#band, #output, #infix {
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: monospace;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    font-family: monospace;
}